{% extends "ServiceBundle:Manager:base_manager.html.twig" %}
{% block page_content %}
    {% if message is defined%}
        <h4> {{message}} </h4>
    {%endif%}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}